@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
}

ul, ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
    }

    .xs\:hide {
        display: none;
    }
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

/* fonts.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}

/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.ll-block {
    display: flex;
    flex-direction: column;
    background-color: white; }
  
  .ll-block.layout {
    position: relative;
    min-height: 1377px;
    flex-shrink: 0; }
  
  .ll-block1 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/contain no-repeat; }
  
  .ll-block1.layout {
    position: relative;
    height: 1377px;
    width: 1080px;
    min-width: 1080px; }
  
  .ll-flex {
    display: flex;
    flex-direction: column; }
  
  .ll-flex.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-group {
    display: flex;
    flex-direction: column; }
  
  .ll-group.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 24px 0px 0px; }
  
  .ll-cover-block4 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/contain no-repeat;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.247059)); }
  
  .ll-cover-block4.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-medium-title {
    display: flex;
    justify-content: flex-end;
    font: 800 24px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px; }
  
  .ll-medium-title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 19px 33px 23px; }
  
  .ll-image1 {
    background: var(--src) center center/contain no-repeat;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.247059)); }
  
  .ll-image1.layout {
    position: absolute;
    top: -4px;
    height: 75px;
    width: 94px;
    left: -100vw;
    right: -100vw;
    margin: 0px auto; }
  
  .ll-cover-block3 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/contain no-repeat;
    border-radius: 30px 30px 30px 30px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.247059)); }
  
  .ll-cover-block3.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 56.48%;
    margin: 190px auto 0px; }
  
  .ll-cover-block1 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/contain no-repeat;
    border-radius: 30px 30px 30px 30px; }
  
  .ll-cover-block1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 14px 11px 0px 10px; }
  
  .ll-content-box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.054);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.247059);
    border-radius: 30px 30px 30px 30px; }
  
  .ll-content-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 39px 27px 37px; }
  
  .ll-content-box-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 272px; }
  
  .ll-cover-block {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.054);
    border-radius: 25px 25px 25px 25px; }
  
  .ll-cover-block.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 9px 0px 11px 12px; }
  
  .ll-medium-title.layout1 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 94px;
    min-width: 94px;
    margin: 10px auto 13px; }
  
  .ll-content-box-spacer {
    flex: 0 1 68px; }
  
  .ll-medium-title1 {
    font: 800 24px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px; }
  
  .ll-medium-title1.layout {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 19px 75px 24px 0px; }
  
  .ll-cover-block2 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/contain no-repeat;
    border-radius: 30px 30px 30px 30px; }
  
  .ll-cover-block2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25px 10px 9px; }
  
  .ll-group.layout5 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 72.2%;
    margin: 54px auto; }
  
  .ll-cover5 {
    background: var(--src) center center/contain no-repeat;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.247059));
    border-radius: 30px 30px 30px 30px; }
  
  .ll-cover5.layout {
    position: absolute;
    top: 0px;
    height: 73px;
    left: 16px;
    right: 17px;
    margin: 23px 0px 450px; }
  
  .ll-group.layout4 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-cover5.layout1 {
    position: absolute;
    top: 0px;
    height: 73px;
    left: 16px;
    right: 17px;
    margin: 116px 0px 357px; }
  
  .ll-group.layout3 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-cover5.layout2 {
    position: absolute;
    top: 0px;
    height: 73px;
    left: 16px;
    right: 17px;
    margin: 210px 0px 263px; }
  
  .ll-group.layout2 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-hero-title-box.layout {
    position: absolute;
    top: 323px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    bottom: 181px;
    left: 14px;
    right: 14px; }
  
  .ll-hero-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 800 35px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px;
    white-space: pre-wrap; }
  
  .ll-flex1 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
    margin: 0px auto; }
  
  .ll-cover-group {
    display: flex;
    flex-direction: column; }
  
  .ll-cover-group.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 23px 17px 0px 16px; }
  
  .ll-flex2 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex3 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex3.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex4 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex4.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex5 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex6 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex6.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex7 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex7.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex8 {
    display: flex;
    flex-direction: column; }
  
  .ll-flex8.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-flex8-spacer {
    flex: 0 0 auto;
    min-height: 10px; }
  
  .ll-cover-block6 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.054);
    border-radius: 25px 25px 25px 25px; }
  
  .ll-cover-block6.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 1px 10px 0px 11px; }
  
  .ll-medium-title2 {
    font: 800 24px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px; }
  
  .ll-medium-title2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 47.31%;
    margin: 10px auto 12px; }
  
  .ll-flex8-spacer1 {
    flex: 0 0 auto;
    min-height: 11px; }
  
  .ll-cover-group2 {
    display: flex;
    flex-direction: column; }
  
  .ll-cover-group2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 20px 17px 0px 16px; }
  
  .ll-cover-group2-spacer {
    flex: 0 0 auto;
    min-height: 10px; }
  
  .ll-cover-group2-item {
    display: flex;
    flex-direction: column;
    position: relative; }
  
  .ll-cover-group3 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.054);
    border-radius: 25px 25px 25px 25px; }
  
  .ll-cover-group3.layout {
    position: relative;
    height: 53px;
    margin: 0px 10px 0px 11px; }
  
  .ll-medium-title3 {
    font: 800 24px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px;
    width: 100%;
    height: 100%; }
  
  .ll-group.layout1 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 21px 17px 0px 16px; }
  
  .ll-cover-group1 {
    display: flex;
    flex-direction: column; }
  
  .ll-cover-group1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-cover-group1-spacer {
    flex: 0 0 auto;
    min-height: 10px; }
  
  .ll-cover-group1-spacer1 {
    flex: 0 0 auto;
    min-height: 51px; }
  
  .ll-cover-group1-spacer2 {
    flex: 0 0 auto;
    min-height: 12px; }
  
  .ll-cover-group4 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.054);
    border-radius: 25px 25px 25px 25px; }
  
  .ll-cover-group4.layout {
    position: absolute;
    top: 0px;
    height: 52px;
    left: 11px;
    right: 10px;
    margin: 10px 0px 11px; }
  
  .ll-medium-title4 {
    font: 800 24px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px; }
  
  .ll-medium-title4.layout {
    position: absolute;
    top: 10px;
    height: 29px;
    left: 105px;
    width: 149px; }
  
  .ll-flex9 {
    display: flex; }
  
  .ll-flex9.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 40px 0px 0px 14px; }
  
  .ll-flex9-spacer {
    flex: 0 1 230px; }
  
  .ll-flex9-spacer1 {
    flex: 0 1 1px; }
  
  .ll-hero-title1 {
    font: 800 35px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px; }
  
  .ll-hero-title1.layout {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 0px 3px; }
  
  .ll-flex10 {
    display: flex; }
  
  .ll-flex10.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 35px 16px 0px; }
  
  .ll-flex10-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 50px; }
  
  .ll-block2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.054);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247059);
    border-radius: 15px 15px 15px 15px; }
  
  .ll-block2.layout {
    position: relative;
    height: 50px;
    margin: 0px 0px 10px; }
  
  .ll-icon {
    background: var(--src) center center/contain no-repeat;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.247059)); }
  
  .ll-icon.layout {
    position: relative;
    height: 20px;
    width: 20px;
    min-width: 20px;
    margin: 15px 0px 0px 15px; }
  
  .ll-flex10-spacer {
    flex: 0 1 21px; }
  
  .ll-flex10-item1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 312px; }
  
  .ll-highlights-box {
    display: flex;
    justify-content: center; }
  
  .ll-highlights-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .ll-highlights {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 18px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px;
    white-space: pre-wrap; }
  
  .ll-highlights-span0 {
    font: 1em/1.2 "Open Sans", Helvetica, Arial, serif;
    color: #ffffffff;
    letter-spacing: 0px; }
  
  .ll-highlights-span1 {
    font: 1em/1.2 "Open Sans", Helvetica, Arial, serif;
    color: #ffb55dff;
    letter-spacing: 0px; }
  
  .ll-highlights-span2 {
    font: 1em/1.2 "Open Sans", Helvetica, Arial, serif;
    color: #ffffffff;
    letter-spacing: 0px; }
  
  .ll-image2 {
    background: var(--src) center center/contain no-repeat; }
  
  .ll-image2.layout {
    position: relative;
    height: 69px;
    width: 66.43%;
    margin: 17px auto 0px; }
  
  .ll-cover-block5 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/contain no-repeat; }
  
  .ll-cover-block5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 169px 0px 0px; }
  
  .ll-medium-title5 {
    display: flex;
    justify-content: flex-end;
    font: 800 24px/1.2 "Open Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.247059);
    letter-spacing: 0px; }
  
  .ll-medium-title5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 11.3%;
    margin: 20px auto 24px; }

    
    
